    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        font-family: 'Roboto', sans-serif;
        border: none;
    }
    
    ul {
        list-style: none;
    }
    
    body,
    html {
        height: 100%;
    }
    
    a {
        text-decoration: none;
    }
    
    h2 {
        text-transform: uppercase;
        font-size: 36px;
        line-height: 36px;
        border-left: #e1e6ea solid 10px;
        padding-left: 14px;
        margin-top: 80px;
        margin-bottom: 58px;
    }
    /* --header-- */
    
    header {
        background-color: #1d2126;
    }
    
    .container {
        max-width: 1170px;
        padding: 0px 15px;
        margin: 0px auto;
    }
    
    header .container {
        width: 100%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        height: 81px;
    }
    
    header .container h1,
    header .container ul {
        margin: auto 0px;
        height: 30px;
    }
    
    header .container h1 {
        line-height: 30px;
    }
    
    header ul li {
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        height: 30px;
    }
    
    header ul li a {
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        height: 30px;
        line-height: 30px;
        color: #a4aead;
        border: 2px solid transparent;
        border-radius: 4px;
        padding: 4px 10px;
    }
    
    header ul> :first-child a {
        border-color: #23b7a4;
    }
    
    header ul li a:active {
        border-color: #23b7a4;
    }
    
    header ul li a:hover {
        border-color: #5b6168;
    }
    /* --jumbotron-- */
    
    #jumbotron {
        background-size: cover;
        background: #37334d url(images/bg.jpg) no-repeat center center;
    }
    
    #jumbotron .container {
        min-height: 660px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    #jumbotron .container .info h1 {
        font-size: 36px;
        color: white;
        line-height: 42px;
        text-transform: uppercase;
    }
    
    #jumbotron .container .info p {
        font-size: 16px;
        line-height: 26x;
        color: #ccd0d7;
        margin-top: 24px;
        max-width: 648px;
    }
    
    #jumbotron .info div {
        font-size: 0px;
    }
    
    #jumbotron .container .info :nth-child(3) {
        margin-top: 35px;
    }
    
    #jumbotron .container .info :nth-child(3) a {
        display: inline-block;
        height: 44px;
        width: 124px;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 44px;
        padding: 0px 20px;
        color: white;
        border: 2px solid white;
        border-radius: 5px;
    }
    
    #jumbotron .container .info :nth-child(3) :first-child {
        background-color: #23b7a4;
        border-color: #23b7a4;
        margin-right: 11px;
    }
    
    #jumbotron .container {
        position: relative;
    }
    
    #jumbotron #dot-slider {
        position: absolute;
        right: 15px;
        bottom: 30px;
    }
    
    #jumbotron #dot-slider a {
        display: inline-block;
        background-color: transparent;
        height: 13px;
        width: 13px;
        border: 2px solid white;
        border-radius: 50%;
        text-indent: -1000000px;
    }
    
    #jumbotron #dot-slider a:hover,
    #jumbotron #dot-slider .active {
        background-color: white;
        border: 2px solid white;
    }
    /* --about-- */
    
    #about .container>div {
        display: flex;
        justify-content: space-between;
    }
    
    #about .container>div>div ul {
        font-size: 0px;
    }
    
    #about .container div>div {
        max-width: 654px;
    }
    
    #about .container>div div> :nth-child(2) {
        margin-top: 34px;
    }
    
    #about .container>div>div ul {
        height: 60px;
    }
    
    #about .container>div>div ul li {
        display: inline-block;
    }
    
    #about .container>div>div ul li a {
        display: block;
        text-indent: -1000000px;
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        margin-top: 46px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    #about .container>div>div ul li {
        margin-left: 1px;
    }
    
    #about .container>div>div ul :first-child {
        margin-left: 0px;
    }
    
    #about .container>div>:nth-child(2) {
        max-width: 455px;
    }
    
    #about .container ul :first-child {
        margin-top: 0px;
    }
    
    #about .container>div>div ul :first-child a {
        background-image: url(images/fb.png);
    }
    
    #about .container>div>div ul :nth-child(2) a {
        background-image: url(images/twitter.png);
    }
    
    #about .container>div>div ul :nth-child(3) a {
        background-image: url(images/google.png);
    }
    
    #about .container>div>div ul :nth-child(4) a {
        background-image: url(images/D.png);
    }
    
    #about .container>div>div ul :nth-child(5) a {
        background-image: url(images/be.png);
    }
    
    #about .container>div>div ul {
        margin-top: 50px;
    }
    
    #about .container>div>div ul li a:hover {
        background-color: #d0d5d9;
    }
    
    #about .container div>ul li h3 {
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        color: #292f36;
        font-weight: normal;
        margin-left: 70px;
        margin-bottom: 14px;
    }
    
    #about .container div>ul li p {
        font-size: 16px;
        line-height: 26px;
        color: #8d8f92;
        margin-left: 70px;
    }
    
    #about .container>div>ul {
        counter-reset: about-counter;
        margin-bottom: 30px;
    }
    
    #about .container>div>ul :last-child {
        margin-bottom: 0px;
    }
    
    #about .container>div>ul li {
        position: relative;
        margin-bottom: 30px;
    }
    
    #about .container>div>ul li::before {
        content: counter(about-counter, decimal-leading-zero);
        counter-increment: about-counter;
        display: block;
        width: 50px;
        height: 50px;
        background-color: #23b7a4;
        font-size: 20px;
        line-height: 50px;
        color: white;
        text-align: center;
        position: absolute;
        top: 1px;
        left: 0px;
    }
    /* --meet the team-- */
    
    #meet-the-team .container>div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #meet-the-team .container>div {
        max-height: 375px;
    }
    
    #meet-the-team .container>div>div {
        max-width: 263px;
        width: calc((100% - 90px) / 4);
        background-color: #e1e6ea;
    }
    
    #meet-the-team .container>div div img {
        max-width: 100%;
    }
    
    #meet-the-team .container .partner-info :first-child {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 16px;
        font-weight: bold;
        color: #292f36;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 21px;
    }
    
    #meet-the-team .container .partner-info :nth-child(2) {
        font-size: 14px;
        line-height: 14px;
        color: #8d8f92;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 8px;
        padding-bottom: 17px;
    }
    
    #meet-the-team .container div div {
        position: relative;
    }
    
    #meet-the-team .container .partner-links {
        font-size: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        height: 300px;
        display: none;
        align-items: center;
        justify-content: space-around;
    }
    
    #meet-the-team .container .partner-links ul li,
    #meet-the-team .container .partner-links ul li a {
        display: inline-block;
    }
    
    #meet-the-team .container .partner-links ul li a {
        text-indent: -100000px;
        width: 50px;
        height: 50px;
        background-color: #3a454d;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    #meet-the-team .container .partner-links ul li {
        margin-right: 1px;
    }
    
    #meet-the-team .container .partner-links ul :last-child {
        margin-right: 0px;
    }
    
    #meet-the-team .container .partner-links ul :first-child a {
        background-image: url(images/twitter.png);
    }
    
    #meet-the-team .container .partner-links ul :nth-child(2) a {
        background-image: url(images/fb.png);
    }
    
    #meet-the-team .container .partner-links ul :last-child a {
        background-image: url(images/linkedin.png);
    }
    
    #meet-the-team .container .partner-links ul {
        text-align: center;
    }
    
    #meet-the-team .container div div:hover .partner-links {
        display: flex;
    }
    
    .partner-info {
        margin-top: -4px;
    }
    
    #meet-the-team .container div div:hover .partner-info {
        background-color: #3a454d;
    }