*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
header{
	width: 100%;
	height: 100px;
	background-color: #FFBA00;
}

.container{
	height: 100px;
	width: 50%;
	margin: 0px auto;
}

.container > div{
	height: 100px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

#top, #bottom{
	margin: 0px auto;
	width: 100%;
	height: 50%;
}

#top{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top:10px;
}

#top h1{
	flex-basis: 40%;
}

#top ul{
	flex-basis: 60%;
	display: flex;
	justify-content: space-between;
}

#top a img{
	margin-left: 0;
	height: 40px;
}
#top ul li{
	display: inline-block;
	height: 40px;
}

#top ul li a{
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

#bottom{
	display: flex;
}

#search input{
	display: inline-block;
}

#search{
	flex-basis: 70%;
}

#search input{
	width: 90%;
}


#bottom p, #bottom h2{
	flex-basis: 15%;
}

/*-----------------------main------------------*/

#main{
	width: 100%;
}

#main > div:first-child{
	height: 250px;
	position: relative;
}

#main:first-child img{
	display: inline-block;
	width: 98%;
	height: 95%;
	background-color: #FFBA00;
	position: absolute;
	margin-top: 6.25px;
	margin-left: 1%;
	border-radius: 6px;
}

#main > ul{
	display: flex;
	justify-content: space-around;
}

#main > ul li{
	display: inline-block;

}