*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    border: none;
}
ul{
    list-style: none;
}
body,html{
    height: 100%;
}
a{
    text-decoration: none;
}
header{
    background-color: #1d2126;
}

.container{
    width: 100%;
}
.container div{
    max-width: 1140px;
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 81px;
}

.container h1, .container ul{
    margin: auto 0px;
    height: 30px;
}
.container h1{
    line-height: 30px;
}
header ul li{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    height: 30px;
}

header ul li a{
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    color: #a4aead;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 4px 10px;
}

header ul > :first-child a{
    border-color: #23b7a4;
}

header ul li a:active{
    border-color: #23b7a4;
}

header ul li a:hover{
    border-color: #5b6168;
}