* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    border: none;
}

ul {
    list-style: none;
}

body,
html {
    height: 100%;
}

a {
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    border-left: #e1e6ea solid 10px;
    padding-left: 14px;
    margin-top: 80px;
}


/* --header-- */

header {
    background-color: #1d2126;
}

.container {
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0px auto;
}

header .container {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 81px;
}

header .container h1,
header .container ul {
    margin: auto 0px;
    height: 30px;
}

header .container h1 {
    line-height: 30px;
}

header ul li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    height: 30px;
}

header ul li a {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    color: #a4aead;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 4px 10px;
}

header ul> :first-child a {
    border-color: #23b7a4;
}

header ul li a:active {
    border-color: #23b7a4;
}

header ul li a:hover {
    border-color: #5b6168;
}


/* --jumbotron-- */

#jumbotron {
    background-size: cover;
    background: #37334d url(images/bg.jpg) no-repeat center center;
}

#jumbotron .container {
    min-height: 660px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#jumbotron .container .info h1 {
    font-size: 36px;
    color: white;
    line-height: 42px;
    text-transform: uppercase;
}

#jumbotron .container .info p {
    font-size: 16px;
    line-height: 26x;
    color: #ccd0d7;
    margin-top: 24px;
    max-width: 648px;
}

#jumbotron .info div {
    font-size: 0px;
}

#jumbotron .container .info :nth-child(3) {
    margin-top: 35px;
}

#jumbotron .container .info :nth-child(3) a {
    display: inline-block;
    height: 44px;
    width: 124px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 44px;
    padding: 0px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}

#jumbotron .container .info :nth-child(3) :first-child {
    background-color: #23b7a4;
    border-color: #23b7a4;
    margin-right: 11px;
}

#jumbotron .container {
    position: relative;
}

#jumbotron #dot-slider {
    position: absolute;
    right: 15px;
    bottom: 30px;
}

#jumbotron #dot-slider a {
    display: inline-block;
    background-color: transparent;
    height: 13px;
    width: 13px;
    border: 2px solid white;
    border-radius: 50%;
    text-indent: -1000000px;
}

#jumbotron #dot-slider a:hover,
#jumbotron #dot-slider .active {
    background-color: white;
    border: 2px solid white;
}


/* --about-- */

#about .container>div {
    display: flex;
    justify-content: space-between;
}

#about .container p {
    max-width: 650px;
}

#about .container>div div :nth-child(1) {
    margin-top: 58px;
}

#about .container>div div :nth-child(2) {
    margin-top: 34px;
}

#about .container>div>div ul {
    height: 60px;
}

#about .container>div>div ul li {
    display: inline-block;
    text-indent: -1000000px;
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    margin-left: -3px;
    margin-top: 46px;
}

#about .container>div>div ul :first-child {
    margin-right: 1px;
    margin-left: 1px;
}