*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px solid black; */
	text-decoration: none;
}
header{
	height: 100px;
	background-color: #FFBA00;

}

.container > div{
	height: 100px;
	max-width: 50%;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}

#top, #bottom{
	margin: 0px auto;
	width: 100%;
	height: 50%;
}

#top{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top:10px;
}

#bottom{
	display: flex;
	justify-content: space-between;
	
}

#top h1{
	flex-basis: 40%;
}

#top ul{
	flex-basis: 60%;
	display: flex;
	justify-content: space-between;
}

#top a img{
	margin-left: 0;
	height: 40px;
}
#top ul li{
	display: inline-block;
	height: 40px;
}

#top ul li a{
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

#bottom{
	display: flex;
}