*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

#menu{
    float: left;
    width: fit-content;
    margin: 50px;
}

#menu li{
    background-color: #FF8762;
    display: inline-block;
    padding: 0px 30px;
    margin: 0px -1px;
}

#menu li a{
    display: inline-block;
    font-size: 20px;
    color: white;
    line-height: 30px;
    padding: 0px 20px;
}

#menu li:hover{
    background-color: rgba(0,0,0, 0.2);
    cursor: pointer;
}
